* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

html,
body {
  margin: 0;
  height: 100%;
  background-color: #c8d3d5;
  scroll-behavior: smooth;
  background-image: url("/images/pexels-pixabay-68507.jpg");
  object-fit: cover;
}

header {
  padding: 5px 10px;
  background-color: #fcfafa;
}

#header-name {
  font-family: "Island Moments", "Inter";
  color: #6a7de1;
  font-size: 3rem;
}

main {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  margin: 3%;
  align-items: center;
  gap: 30px;
}

#introductory {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  background-color: #fcfafa;
  padding: 10px;
  border-radius: 10px;
  background: rgba(252, 250, 250, 0.4);
  backdrop-filter: blur(3px);
}

main h2 {
  font-family: "Island Moments", "Inter";
  font-size: 2.5rem;
  color: #6a7de1;
  text-shadow: rgba(0, 0, 0, 0.4) 2px 1px;
}

.image-container {
  display: flex;
  max-height: 500px;
  gap: 15px;
  overflow: hidden;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .image-container {
    display: flex;
    max-height: 500px;
    gap: 5px;
    overflow: hidden;
    border-radius: 10px;
  }
}

.image-container img {
  width: 50%;
  object-fit: cover;
}

.sub-image-container {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
}

.image-container,
.sub-image-container img {
  object-fit: cover;
  flex-shrink: 1;
  height: auto;
  min-width: 0;
}

@media (max-width: 600px) {
  #nav-wrapper {
    display: none;
  }
}

.navigate-arrow:hover {
  transform: scale(1.1);
  transition: transform ease 0.3s;
}

#additional-info {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex: 1;
  background: rgba(252, 250, 250, 0.4);
  backdrop-filter: blur(3px);
  border-radius: 10px;
}

.additional-header {
  padding: 10px;
  padding-bottom: 0px;
  border-radius: 10px 10px 0 0;
}

.additional-nav {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
}

.additional-nav a {
  text-decoration: none;
  color: inherit;
  padding: 6px;
  color: whi;
  border-radius: 5px;
}

/* children are in order of selected web pages eg 1 = About */
.additional-nav a:first-child {
  background-color: #f0f3c8;
  transform: translateY(4px);
}

.additional-container {
  display: flex;
  align-items: start;
  gap: 70px;
  padding: 30px;
}

@media (max-width: 600px) {
  .additional-container {
    flex-direction: column;
  }
}

.additional-sidebar {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media (max-width: 600px) {
  .additional-sidebar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
  }

  .mobile-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.sidebar-item {
  display: flex;
  gap: 10px;
}

@media (max-width: 600px) {
  .sidebar-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.additional-sidebar img {
  width: 250px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

@media (max-width: 600px) {
  .additional-sidebar img {
    width: 200px;
  }
}

.obituary {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.obituary p {
  background-color: #a4b8c4;
  padding: 25px;
  border-radius: 8px;
  flex: 1;
}
